@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-black: #1c1c21;
  --secondary-black: #212429;
  --primary: #617afa;
  --grey: #d6d6de;

  --navbar-height: 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Rubik";
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: var(--primary-black);
}

a {
  color: inherit;
  text-decoration: none;

  font-size: 1rem;
}

button {
  cursor: pointer;
  border: 1px solid black;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

.mainBody{
  margin-top: var(--navbar-height);
  
  width: 100%;
  height: 100%;
}